In [1]:
import pandas as pd
from transformers import AutoTokenizer

C:\Users\solom\miniconda3\envs\nlp\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv("E:\Data\datasets\IMDB dataset.csv")

In [3]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
encoder_path = "D:\\DSAI\\Pre-Trained Models\\distilbert-base-uncased"

tokenizer = AutoTokenizer.from_pretrained(encoder_path)

C:\Users\solom\miniconda3\envs\nlp\lib\site-packages\transformers\tokenization_utils_base.py:1617: FutureWarning: `clean_up_tokenization_spaces` was not set. It will be set to `True` by default. This behavior will be deprecated in transformers v4.45, and will be then set to `False` by default. For more details check this issue: https://github.com/huggingface/transformers/issues/31884
  warnings.warn(

In [5]:
all_text = df['review'].tolist()
tokenized_text = tokenizer(all_text).input_ids
token_lengths = [len(i) for i in tokenized_text]
max(token_lengths)

Token indices sequence length is longer than the specified maximum sequence length for this model (563 > 512). Running this sequence through the model will result in indexing errors

3157

In [6]:
token_lengths = [len(i) for i in tokenized_text]

In [7]:
max(token_lengths)

3157

In [8]:
df['token_lengths'] = token_lengths

In [9]:
long_text = df[df['token_lengths']>510]
long_text

,review,sentiment,token_lengths
12,So im not a big fan of Boll's work but then ag...,negative,563
26,"""The Cell"" is an exotic masterpiece, a dizzyin...",positive,749
29,'War movie' is a Hollywood genre that has been...,positive,845
30,"Taut and organically gripping, Edward Dmytryk'...",positive,608
33,One of the most significant quotes from the en...,positive,908
...,...,...,...
49959,"My thoughts on the movie, 9<br /><br />It was ...",negative,921
49960,John Carpenter's career is over if this sad ex...,negative,629
49981,"And I repeat, please do not see this movie! Th...",negative,1106
49984,Hello it is I Derrick Cannon and I welcome you...,negative,517
49993,Robert Colomb has two full-time jobs. He's kno...,negative,652

In [10]:
long_text.to_csv("E:\Data\datasets\imdb_long_text_dataset.csv", index=False)